.note {
  display: flex;
  padding: 10px;
}
.note__title {
  font-size: 16px;
  color: white;
  font-weight: 500;
  flex: 1;
}
.note__download {
  color: white;
  border: 1px solid red;
  min-width: 70px;
  font-weight: 500;
  max-height: 35px;
  padding: 6px;
  margin-left: 5px;
  background-color: crimson;
  border-radius: 5px;
}
